@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap');
:root{
    --paimaryColor: #5956E8;
}
body{
    font-family: 'inter'sans-serif;
}

ul li a .first_iteam{
    color: var(--paimaryColor);
}
.nav_item{
    margin-left: 50px;
}
.buttonNev{
    background-color: var(--paimaryColor);
    color: white;
    max-width: 144px;
    max-height: 48px;
    border-radius: 10px ;
    font-weight: 500;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 13px 24px;
    border: 1px solid var(--paimaryColor);
}
.buttonNev:hover{
    background-color: white;
    color: var(--paimaryColor);
}